body {
  cursor: none; 
}

.cursor {
    width: 3rem;
    height: 3rem;
    border: 3px solid white;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transform-origin: 100% 100%;
    mix-blend-mode: difference;
    z-index: 9999;
  }
  .point {
    width: 5px; 
    height: 5px; 
    background-color: white; 
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%); 
    pointer-events: none;
    z-index: 9999;
 
  }
  .link-grow {
    background: white;
  }
  